<%= javascript_tag do %>


$(document).ready(function() {  
  $('.inselect2').each(function() {
    var url = $(this).data('url'); 
    var placeholder = $(this).data('placeholder');

    $(this).select2({
      width: '200px',
      minimumInputLength: 0,
      placeholder : placeholder,
      allowClear: true,
      id: function (item) {
       return item.name;
     },
     selectOnBlur: true,
      ajax: {
        url: url,
        dataType: 'json',
        quietMillis: 500,
        data: function (term) {
          return {
            name: term
          };
        },
        results: function (data) {
          return {results: data};
        }
      },

      formatResult: function (item) {
        return item.name; 
      },

      formatSelection: function (item) {
        return item.name; 
      },

      createSearchChoice:function(term, data) {
             if ( $(data).filter( function() {
               return this.name.localeCompare(term)===0;
             }).length===0) {
               return {id:term, name:term};
             }
           }

    });
  });
});

<% end %>

<%= form_for(@habit) do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @habit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :habit_type %><br>
    <%= f.number_field :habit_type %>
  </div>
  <div class="field">
  <%= f.fields_for :action do |t| %>
      <%= t.text_field :name,      
      data: { 
        placeholder: "Enter an action",
        url: actions_json_path
      }, class: "inselect2"  %>
      <%= t.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.fields_for :value do |t| %>
      <%= t.text_field :name, 
     data: { 
        placeholder: "Enter a value",
        url: values_json_path
      },
        class: "inselect2"  %>
      <%= t.hidden_field :user_id, value: current_user.id %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.text_field :count %>
  </div>
  <div class="field">
    <%= f.label :measurement %><br>
    <%= f.text_field :measurement %>
  </div>
  <div class="field">
    <%= f.label :measurement_type %><br>
    <%= f.text_field :measurement_type %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :quantity_type %><br>
    <%= f.text_field :quantity_type %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time, ampm: true %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
