<h1>Listing habits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Action</th>
      <th>Value</th>
      <th>Tags</th>
      <th>Description</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @habits.each do |habit| %>
      <tr>
        <td><%= action_name habit %></td>
        <td><%= value_name habit if habit.value %></td>
        <td><%= habit.tags %></td>
        <td><%= habit.description %></td>
        <td><%= habit.time.to_s :readable %></td>
        <td><%= link_to 'Show', habit %></td>
        <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
        <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit', new_habit_path %>
