<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= action_name @habit %>
</p>

<p>
  <strong>Value:</strong>
  <%= value_name @habit if @habit.value %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @habit.tags %>
</p>

<p>
  <strong>Description:</strong>
  <%= @habit.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @habit.time.to_s :readable %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
